# venvs name
.py310_venv
.py312_venv
# mlflow
.runs/
.artifacts/
.backend/
.temp/

# Ignore all .Identifier files
*.Identifier
__pycache__/

# folders
data/
examples/trash.ipynb
BrewPots/